md-content
    .top-tools
        position relative
        display block
        width 100%
        height 120px
        z-index 3
                      
    md-grid-list
        z-index 2
            
        md-grid-tile
            list-style: none
            overflow hidden
            cursor pointer
            border-radius 1px
            box-shadow 0 0 3px rgba(0, 0, 0, 0.2)

            img
                opacity 0
                background-size cover
                transition opacity 200ms ease-in
                
                &.fadein
                    opacity: 1
                    
            .info
                position absolute
                bottom 0
                left 0
                right 0
                height auto
                background #212327
                color #fff
                padding 16px 10px 10px 10px
                transition .5s transform cubic-bezier(0.55, 0, 0.1, 1), .1s background ease-in
                transform translateY(100%)
                text-align left
                
                h3
                    font-size 18px
                    line-height 22px
                    font-weight 500
                    margin-bottom 16px
                    
                    &::before
                        content ''
                        float right
                        width 35px
                        height 18px
                .meta
                    font-size 13px
                    .rating
                        display: inline-block
                        md-icon
                            font-size 14px
                            float: left
                            height: 12px
                            color: inherit
                            width: 14px
                            margin-right: 1px
                    .dot
                        display inline-block
                        width 5px
                        height 5px
                        margin 0 6px 2px 6px
                        border-radius 50%
                        background-color white

                .md-button.md-fab
                    position absolute
                    width 48px
                    height 48px
                    right 8px
                    line-height: normal
                    top -24px
                    background #212327
                    transition .3s transform cubic-bezier(0.55, 0, 0.1, 1) .2s, .1s background ease-in
                    transform scale(0,0)

            &:hover
                .md-button.md-fab                    
                    transform scale(1,1)
                    background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1))         
                .info
                    transform translateY(0)