pt-page-header
    display block
    padding 0px 40px 0 40px
    position fixed
    z-index 3
    height 120px
    top 0 
    left 100px
    right 0px 
    
    &.detail
        height 12vh  
        position relative
        padding 40px 40px 0 40px
        left 0px
        
        .title
            padding-top 0px  
     
    .back
        float left
        position relative
        margin-right 46px !important
            
    .title
        color #FFF
        float left
        position: relative
        line-height 43px
        padding-top 40px
        font-size 42px
        font-weight 500
        letter-spacing 0.7

    .right-icon
        position relative
        float right

    md-icon.material-icons
        height 42px
        width 42px
        color #FFF
        line-height 43px
        font-size 42px
        font-weight 500