<md-content id="about" layout="column" layout-align="start center">
    <!-- About Title Container -->
    <pt-page-header layout="row" title="'About'" go-back="settings.goBack()"></pt-page-header>

    <section flex layout="column">

        <div>
            <h2>What is Butter?</h2>
            <p>
            Butter is the result of many developers and designers putting a bunch of APIs together <br />
            to make the experience of watching torrent movies as simple as possible.<br />
            We are an open source project. We are from all over the world. We love our movies. <br />
            And boy, do we love Popcorn with Butter.
            </p>
        </div>

        <div>
            <h2>Be social and support us!</h2>
            <div layout="row" layout-align="center center">
                <md-button ng-repeat="(id, item) in about.social_buttons"
                           aria-label="{{ item.label }}"
                           href="{{ item.url }}"
                           target="_blank">
                  <md-icon md-svg-src="social:{{ id }}" style="color: white;"></md-icon>
                  <md-tooltip>{{ item.label }}</md-tooltip>
                </md-button>
            </div>
        </div>

        <div>
            <p>Made with <span style="color:#e74c3c;">&#10084;</span> by a bunch of geeks from All Around The World</p>
        </div>

        <div id="changelog">
            <h2>Changelog</h2>
            <pre>
              <p ng-repeat="release in about.releases">
                {{release.name}} </br>
                {{release.notes}} </br>
              </p>
            </pre>
        </div>

    </section>

</md-content>
