/********************/
/* Buffering plugin */
/********************/
wc-buffering
  width: 100%
  height: 100%
  position: absolute
  z-index: 4
  top: 0

wc-buffering .bufferingContainer
  width: 100%
  position: absolute
  cursor: pointer
  top: 50%
  margin-top: -50px
  zoom: 1
  opacity: 0.6

wc-buffering .loadingSpinner
  background-color: rgba(0, 0, 0, 0)
  border: 5px solid rgba(255, 255, 255, 1)
  opacity: .9
  border-top: 5px solid rgba(0, 0, 0, 0)
  border-left: 5px solid rgba(0, 0, 0, 0)
  border-radius: 50px
  box-shadow: 0 0 35px #FFFFFF
  width: 50px
  height: 50px
  margin: 0 auto
  -moz-animation: spin .5s infinite linear
  -webkit-animation: spin .5s infinite linear

wc-buffering .loadingSpinner .stop
  -webkit-animation-play-state: paused
  -moz-animation-play-state: paused
  
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}
    
@keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(-360deg)
  }
}