wc-next-video
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0
  top: 0
  left: 0
  display: block
  position: absolute
  z-index: 2

  .loader-container
    width: 100vw
    height: 100vh
    position: absolute
    display: flex

    svg.round-progress
      margin: auto
      
  .cancel
    color: white
    font-family: sans-serif
    font-size: 18px
    width: 100vw
    height: 30px
    position: absolute
    left: 0
    bottom: 50px
    text-align: center
    cursor: pointer