pt-controls-container
    position absolute
    display block
    height 180px
    width 100vw
    right 0
    bottom 0px
    background-color #111214

    .containers-controls
        margin-top 20px
        margin-left calc(((100vh - 240px - 50px) * 2 / 3) + 190px)

