md-content#about

    pt-page-header
        position relative
        top -100px
        left 0px
        height auto

    section
        width 80%
        padding-left 40px

        p
            font-size 18px

        #changelog
            height 600px

        .md-button
            background-color none

            md-icon
                height 48px
                width 48px
                transition opacity 400ms ease-out

                &:hover
                    opacity 0.4

            md-tooltip .md-content
                position relative
                opacity 1
