<section class="buttons" layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised md-accent" ng-if="settings.config.showAdvancedSettings"><i class="material-icons">delete_forever</i> Flush bookmarks database</md-button>
    <md-button class="md-raised md-accent" ng-if="settings.config.showAdvancedSettings"><i class="material-icons">delete_forever</i> Flush subtitles cache</md-button>
    <md-button class="md-raised md-accent"><i class="material-icons">delete_forever</i> Flush all databases</md-button>
    <md-button class="md-raised md-accent"><i class="material-icons">restore</i> Reset to Default Settings</md-button>
</section>
