<section class="settings-panel" id="subtitles">
    <div class="settings-panel-header">
      <i class="material-icons">language</i> 
        Subtitles
    </div>

    <div class="settings-panel-body">

        <section class="settings-select">
            <div class="select-label">Default Subtitle Language</div>
            <md-select class="settings-dropdown" aria-label="default-subtitle"
                       ng-model="settings.config.sub_lang">
              <md-option ng-repeat="lang in settings.config.sub_langs" name="subtitle_language"
                         ng-selected="{{ lang == settings.config.subtitle_language ? 'true' : 'false' }}">
                   {{ lang }}
               </md-option>
            </md-select>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <div class="select-label">Font</div>
            <md-select class="settings-dropdown" aria-label="font-subtitle" ng-model="settings.config.sub_font">
               <md-option ng-repeat="font in settings.sub_fonts" name="sub_fonts"
                          ng-selected="{{ font == settings.config.subtitle_font ? 'true' : 'false' }}">
                   {{ font }}
               </md-option>
            </md-select>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <div class="select-label">Decoration</div>
            <md-select class="settings-dropdown" aria-label="decoration-subtitle"
                       ng-model="settings.config.sub_deco">
                <md-option ng-repeat="deco in settings.sub_deco" name="sub_deco"
                           ng-selected="{{ deco == settings.config.subtitle_decoration ? 'true' : 'false' }}">
                    {{ deco }}
                </md-option>
            </md-select>
        </section>

        <section class="settings-select">
            <div class="select-label">Size</div>
            <md-select class="settings-dropdown" aria-label="size-subtitle"
                       ng-model="settings.config.sub_size">
                <md-option ng-repeat="size in settings.sub_sizes" name="sub_size"
                           ng-selected="{{ size == settings.config.subtitle_size ? 'true' : 'false' }}">
                    {{ size }}
                </md-option>
            </md-select>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <div class="subtitles-custom">
                <div class="select-label">Color</div>
                <input class="colorsub" aria-label="color-subtitle" id="subtitles_color"
                       type="color" size="7" name="subtitle_color"
                       ng-model="settings.config.subtitle_color" list="subs_colors">
                <datalist id="subs_colors">
                    <option>#ffffff</option>
                    <option>#ffff00</option>
                    <option>#ff0000</option>
                    <option>#ff00ff</option>
                    <option>#00ffff</option>
                    <option>#00ff00</option>
                </datalist>
            </div>
        </section>
    </div>
</section>
