<section class="settings-panel" id="cache">
    <div class="settings-panel-header">
        Cache
    </div>

    <div class="settings-panel-body">
        <md-input-container>
            <label>Cache Directory</label>
            <input type="text" placeholder="Cache Directory"
                   id="faketmpLocation" ng-model="settings.config.tmpLocation"
                   readonly="readonly" size="65" aria-label="Cache directory"/>
            <i class="open-tmp-folder fa fa-folder-open-o tooltipped" data-toggle="tooltip" data-placement="auto" title="Open Cache Directory"></i>
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="settings.config.deleteTmpOnClose">
                <i class="material-icons">delete_forever</i> Clear Tmp Folder after closing app?
            </md-checkbox>
        </md-input-container>

    </div>
</section>
