<section class="settings-panel" id="settings">
    <div class="settings-panel-header">
        Settings
    </div>
    
    <div class="settings-panel-body">
      <md-button class="md-icon--button" ng-click="showKeyboard()">
          <md-icon md-font-set="material-icons">keyboard</md-icon>
          Keyboard Shortcuts
      </md-button>    

      <md-button class="md-icon--button" ng-click="showHelp()">
          <md-icon md-font-set="material-icons">question</md-icon>
      </md-button>    

      <md-checkbox aria-label="Show advanced settings" ng-model="settings.config.showAdvancedSettings">
        Show advanced settings
      </md-checkbox>

    </div>
</section>
