<section class="settings-panel" id="miscellaneous" ng-if="settings.config.showAdvancedSettings">
    <div class="settings-panel-header">
        Miscellaneous
    </div>

    <div class="settings-panel-body">
        <section class="settings-select">
            <div class="select-label">When Opening TV Series Detail Jump To</div>
            <md-select class="settings-dropdown" ng-model="settings.config.jump_to">
                <md-option ng-repeat="jump_to in settings.tv_detail_jump_to" name="jump_to">{{ jump_to }}</md-option>
            </md-select>
        </section>

        <md-input-container>
            <md-checkbox ng-model="settings.config.automaticUpdating">
                Activate automatic updating
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="settings.config.events">
                Celebrate various events
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="settings.config.minimizeToTray">
                Minimize to Tray
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="settings.config.bigPicture">
                Big Picture Mode
            </md-checkbox>
        </md-input-container>
    </div>
</section>
