<section class="settings-panel" id="playback">
    <div class="settings-panel-header">
        Playback
    </div>

    <div class="settings-panel-body">
        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <md-checkbox aria-label="start-fullscreen" ng-model="settings.config.alwaysFullscreen">
                Always start playing in fullscreen
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <md-checkbox aria-label="play-next-episode" ng-model="settings.config.playNextEpisodeAuto">
                Play next episode automatically
            </md-checkbox>
        </md-input-container>

    </div>
</section>
