<section class="settings-panel" id="quality">
    <div class="settings-panel-header">
        Quality
    </div>

    <div class="settings-panel-body">
        <section class="settings-select">
            <div class="select-label">Only list movies in</div>
            <md-select class="settings-dropdown" ng-model="settings.config.movies_quality"
                       name="movies_quality" aria-label="Show by quality">
               <md-option ng-repeat="(key, value) in settings.movies_quality" name="movie_quality"
                          ng-selected="{{ key == settings.config.movies_quality ? 'true' : 'false' }}">
                   {{ value }}
               </md-option>
            </md-select>
        </section>

        <md-input-container>
            <md-checkbox aria-label="show-quality" ng-model="settings.config.moviesShowQuality">
                Show movie quality on list
            </md-checkbox>
        </md-input-container>

    </div>
</section>
