<section class="settings-panel" id="trakt">
    <div class="settings-panel-header">
        Trakt.tv
    </div>

    <div class="settings-panel-body">
        <div class="trakt-options" ng-class="{ 'authenticated' : app.Trakt.authenticated }">
                <section class="settings-select" ng-if="app.Trakt.authenticated">
                    You are currently connected to Trakt.tv.
                    <a id="unauthTrakt" class="unauthtext" href="#">Disconnect account</a>
                </section>>

                <md-input-container>
                    <md-checkbox aria-label="Automatically Sync on Start" ng-model="settings.config.traktSyncOnStart">
                        Automatically Sync on Start
                    </md-checkbox>
                </md-input-container>

                <md-input-container>
                    <md-checkbox aria-label="Resume Playback" ng-model="settings.config.traktPlayback">
                        Resume Playback
                    </md-checkbox>
                </md-input-container>

                <section class="settings-select" ng-if="app.Trakt.authenticated">
                    <md-button ng-click="refreshTrakt()">
                        <md-icon md-font-set="material-icons">refresh</md-icon>
                        Sync With Trakt
                    </md-button>
                </section>>

                <section class="settings-select" ng-if="!app.Trakt.authenticated">
                    Connect to Trakt.tv to automatically 'scrobble' episodes you watch
                </section>>

                <section class="settings-select">
                    <md-button ng-click="connectTrakt()">
                        <md-icon md-font-set="material-icons">user</md-icon>
                        Connect To Trakt
                    </md-button>
                    <div class="loading-spinner" style="display: none"></div>
                </section>>
        </div>
    </div>
</section>>
