<section class="settings-panel" id="subtitles">
    <div class="settings-panel-header">
        Subtitles
    </div>
    
    <div class="settings-panel-body">

        <section class="settings-select">
            <md-select class="settings-dropdown" ng-model="settings.config.sub_lang">
               <md-option ng-repeat="lang in settings.config.sub_langs" name="subtitle_language">{{ lang }}</md-option>
            </md-select>
            <p>Default Subtitle</p>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <md-select class="settings-dropdown" ng-model="settings.config.sub_font">
               <md-option ng-repeat="font in settings.sub_fonts" name="sub_fonts">{{ font }}</md-option>
            </md-select>
            <p>Font</p>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <md-select class="settings-dropdown" ng-model="settings.config.sub_deco">
                <md-option ng-repeat="deco in settings.sub_deco" name="sub_deco">{{ deco }}</md-option>
            </md-select>
            <p>Decoration</p>
        </section>

        <section class="settings-select">
            <md-select class="settings-dropdown" ng-model="settings.config.sub_size">
                <md-option ng-repeat="size in settings.sub_sizes" name="sub_size">{{ size }}</md-option>
            </md-select>
            <p>Size</p>
        </section>

        <section class="settings-select" ng-if="settings.config.showAdvancedSettings">
            <div class="subtitles-custom">
                <input class="colorsub" id="subtitles_color" type="color" size="7" name="subtitle_color" ng-model="settings.config.subtitle_color" list="subs_colors">
                <datalist id="subs_colors">
                    <option>#ffffff</option>
                    <option>#ffff00</option>
                    <option>#ff0000</option>
                    <option>#ff00ff</option>
                    <option>#00ffff</option>
                    <option>#00ff00</option>
                </datalist>
            </div>
            <p>Color</p>
        </section>
    </div>
</section>
