<section class="settings-panel" id="features">
    <div class="settings-panel-header">
        Features
    </div>

    <div class="settings-panel-body">
        <md-input-container>
            <md-checkbox ng-model="settings.config.activateTorrentCollection">
                Torrent Collection
            </md-checkbox>
        </md-input-container>
        
        <md-input-container>
            <md-checkbox ng-model="settings.config.activateWatchlist">
                Watchlist
            </md-checkbox>
        </md-input-container>
        
        <md-input-container>
            <md-checkbox ng-model="settings.config.activateVpn">
                VPN
            </md-checkbox>
        </md-input-container>
        
        <md-input-container>
            <md-checkbox ng-model="settings.config.activateRandomize">
                Randomize Button for Movies
            </md-checkbox>
        </md-input-container>
        
    </div>
</section>
