<section class="settings-panel" id="playback">
    <div class="settings-panel-header">
        Playback
    </div>
    
    <div class="settings-panel-body">
        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <label>Always start playing in fullscreen</label>
            <md-checkbox ng-model="settings.config.alwaysFullscreen"></md-checkbox>
        </md-input-container>
        
        <md-input-container>
            <label>Play next episode automatically</label>
            <md-checkbox ng-model="settings.config.playNextEpisodeAuto"></md-checkbox>
        </md-input-container>

    </div>
</section>
