<section class="settings-panel" id="user_ui">
    <div class="settings-panel-header">
        User Interface
    </div>

    <div class="settings-panel-body">
        <section class="settings-select">
            <div class="select-label">Default Language</div>
            <md-select class="settings-dropdown" aria-aria-label="language" ng-model="settings.config.lang">
                <md-option ng-repeat="lang in settings.config.langs" name="language">{{ lang }}</md-option>
            </md-select>
        </section>


         <section class="settings-select">
            <div class="select-label">Theme</div>
            <md-select class="settings-dropdown" ng-model="settings.config.theme">
               <md-option ng-repeat="theme in settings.config.themes" name="theme">{{ theme }}</md-option>
            </md-select>
        </section>

         <section class="settings-select">
            <div class="select-label">Start Screen</div>
            <md-select class="settings-dropdown" ng-model="settings.config.screen">
               <md-option ng-repeat="screen in settings.config.start_screens" name="start_screen">{{ screen }}</md-option>
            </md-select>
        </section>

        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <md-checkbox aria-label="Translate Synopsis" ng-model="settings.config.translateSynopsis">
                Translate Synopsis
            </md-checkbox>
        </md-input-container>
        
        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <md-checkbox aria-label="Show rating over covers" ng-model="settings.config.coversShowRating">
                Show rating over
            </md-checkbox>
        </md-input-container>

        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <md-checkbox aria-label="Always On Top" ng-model="settings.config.alwaysOnTop">
                Always On Top
            </md-checkbox>
        </md-input-container>

        <md-input-container ng-if="settings.config.showAdvancedSettings">
            <label>Watched Items</label>
            <md-select class="settings-dropdown" ng-model="settings.config.watch_type">
               <md-option ng-repeat="type in settings.watch_types" name="watchedCovers">{{ type }}</md-option>
            </md-select>
        </md-input-container>

    </div>
</section>
